---
layout: base

controller: HomeTour
css: ['home']
js: ['services/config', 'services/elasticsearch', 'services/users', 'controllers/hometour', 'controllers/signup']
---

<div class="layout-content layout-fixed layout-home" ng-show="view == 'home'">
	<div class="home-promo layout-content-container">
		<div class="clearfix">
			<div class="pull-left">
				<div class="content">
					<strong>Londoner?</strong>
					<ul class="list-unstyled">
						<li>Find new places</li>
						<li>Pay how you like</li>
						<li>Support your area</li>
					</ul>
				</div>
			</div>
			<div class="pull-right">
				<i class="icon-globe content"></i>
			</div>
		</div>
		<div class="page-bar btn-group btn-group-two">
			<button class="btn btn-default" ng-click="signup()"><i class="icon-user"></i> Sign Up</button>
			<button class="btn btn-primary" ng-click="startTour('consumer')">Details <i class="icon-chevron-right"></i></button>
		</div>
	</div>
	<div class="home-promo layout-content-container">
		<div class="clearfix">
			<div class="pull-left">
				<i class="icon-gbp content"></i>
			</div>
			<div class="pull-right">
				<div class="content">
					<strong>Local retailer?</strong>
					<ul class="list-unstyled">
						<li>Collect payments more easily</li>
						<li>Find more customers</li>
						<li>Grow your business</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-bar btn-group btn-group-two">
			<button class="btn btn-default" ng-click="signup()"><i class="icon-user"></i> Sign Up</button>
			<button class="btn btn-primary" ng-click="startTour('merchant')">Details <i class="icon-chevron-right"></i></button>
		</div>
	</div>
</div>

<div class="layout-content layout-fixed" style="display: none" ng-show="view == 'con1'">
	<div class="layout-content-container full-height">
		con1
	</div>
</div>

<div class="layout-content layout-fixed" style="display: none" ng-show="view == 'con2'">
	<div class="layout-content-container full-height">
		con2
	</div>
</div>

<div class="layout-content layout-fixed" style="display: none" ng-show="view == 'con3'">
	<div class="layout-content-container full-height">
		con3
	</div>
</div>

<div class="layout-content layout-fixed" style="display: none" ng-show="view == 'mer1'">
	<div class="layout-content-container full-height">
		mer1
	</div>
</div>

<div class="layout-content layout-fixed" style="display: none" ng-show="view == 'mer2'">
	<div class="layout-content-container full-height">
		mer2
	</div>
</div>

<div class="layout-content layout-fixed" style="display: none" ng-show="view == 'mer3'">
	<div class="layout-content-container full-height">
		mer3
	</div>
</div>

<!-- Footer for tours -->
<div class="layout-footer page-bar btn-group btn-group-three" style="display: none" ng-show="currentTour">
	<button class="btn btn-default" ng-click="prevTour()"><i class="icon-chevron-left"></i> Back</button>
	<button class="btn btn-primary" ng-click="signup()"><i class="icon-user"></i> Sign Up</button>
	<button class="btn btn-default" ng-click="nextTour()">Next <i class="icon-chevron-right"></i></button>
</div>

<div class="layout-content layout-fixed" style="display: none" ng-show="view == 'signup'" ng-controller="Signup">
	<div class="layout-content-container full-height">
		Sign up
		<input type="text" ng-model="username" />
		<button class="btn btn-primary" ng-click="doSignup()">Signup</button>
	</div>
</div>

<!-- Footer for signup -->
<div class="layout-footer page-bar btn-group" style="display: none" ng-show="view == 'signup'">
	<button class="btn btn-default" ng-click="goHome()"><i class="icon-home" style="float: none !important;"></i> Home</button>
</div>