---
layout: base

controller: MerchantPay
css: ['pay']
js: ['services/config', 'services/elasticsearch', 'services/users', 'controllers/merchantpay']
---

<div class="layout-content layout-fixed">
	<div class="layout-content-container full-height">
		<div class="center" style="padding-top: 20px;" ng-hide="loading || pendingID" style="display: none">
			<p>Your customer can be charged through PayPal.</p>
			<p>Enter the billing amount:</p>
			<form>
				<div class="input-group" style="width: 80%; margin: 0 auto">
					<span class="input-group-addon">£</span>
					<input type="text" placeholder="0.00" class="form-control" ng-model="amount">
				</div>
				<button style="width: 60%; margin: 30px auto 0" class="btn btn-primary btn-large" ng-click="begin()"><i class="icon-money"></i> Begin Transaction</button>
			</form>
		</div>
		<div class="center" style="padding-top: 20px" ng-show="loading">
			<i class="icon-spin icon-spinner" style="font-size: 100px"></i>
		</div>
		<div class="center" ng-show="pendingID && !loading" style="display: none">
			<p>The user needs to choose these colours, in this order:</p>
			<div ng-repeat="colour in code.split('')" class="merchantpay">
				<div class="colour" style="background-color: #000; color: #fff" ng-show="colour == 7">Black</div>
				<div class="colour" style="background-color: #f00" ng-show="colour == 0">Red</div>
				<div class="colour" style="background-color: #00f; color: #fff" ng-show="colour == 5">Blue</div>
				<div class="colour" style="background-color: orange" ng-show="colour == 2">Orange</div>
				<div class="colour" style="background-color: #ccc" ng-show="colour == 8">Grey</div>
				<div class="colour" style="background-color: #0f0" ng-show="colour == 6">Green</div>
				<div class="colour" style="background-color: purple; color: #fff" ng-show="colour == 4">Purple</div>
				<div class="colour" style="background-color: yellow" ng-show="colour == 1">Yellow</div>
				<div class="colour" style="background-color: pink" ng-show="colour == 3">Pink</div>
			</div>
			<p ng-show="transaction._source.payer">Paying for this bill: {% raw %}{{transaction._source.payer}}{% endraw %}</p>
			<p ng-show="transaction._source.status == 'ACQUIRED'">Payee is processing the transaction</p>
			<p ng-show="transaction._source.status == 'SUCCESS'">Payment completed!</p>
			<p ng-show="transaction._source.status == 'FAILED'">Payment failed!</p>
			<button style="width: 60%; margin: 30px auto 0" class="btn btn-danger btn-large" ng-click="cancel()"><i class="icon-remove"></i> Cancel Transaction</button>
		</div>
	</div>
</div>
